.env
.env.*

build
!build/generated-src

projects
!projects/EqBench
!projects/example-maven-junit5

project-configs
!project-configs/eqbench.conf
!project-configs/example-maven-junit5.conf

data
database
docker-data
evosuite-report

venv
