[submodule "jpf-symbc"]
	path = jpf-symbc
	url = https://github.com/glockyco/jpf-symbc.git
	branch = gradle-build
[submodule "projects/EqBench"]
	path = projects/EqBench
	url = https://github.com/glockyco/EqBench.git
	branch = test-generalization
