## @vtlvariable name="driverPackageName" type="java.lang.String"
## @vtlvariable name="driverClassName" type="java.lang.String"
## @vtlvariable name="instrumentedClassQualifiedName" type="java.lang.String"
## @vtlvariable name="instrumentedClassName" type="java.lang.String"
## @vtlvariable name="testMethodName" type="java.lang.String"
## @vtlvariable name="beforeMethods" type="java.util.Set<spoon.reflect.declaration.CtMethod>"
## @vtlvariable name="afterMethods" type="java.util.Set<spoon.reflect.declaration.CtMethod>"
#if(${driverPackageName})
package ${driverPackageName};

#end
import ${instrumentedClassQualifiedName};

public class ${driverClassName} {
    public static void main(String[] args) throws Throwable {
        ${instrumentedClassName} instance = new ${instrumentedClassName}();
        #foreach($method in ${beforeMethods})
            #if($method.static)
                ${instrumentedClassName}.${method.simpleName}();
            #else
                instance.${method.simpleName}();
            #end
        #end
        instance.${testMethodName}();
        ## Teardown exceptions propagate through main so extraction records a failed fixture run.
        #foreach($method in ${afterMethods})
            #if($method.static)
                ${instrumentedClassName}.${method.simpleName}();
            #else
                instance.${method.simpleName}();
            #end
        #end
    }
}
