## @vtlvariable name="driverPackageName" type="java.lang.String"
## @vtlvariable name="driverClassName" type="java.lang.String"
## @vtlvariable name="testClassQualifiedName" type="java.lang.String"
## @vtlvariable name="testClassName" type="java.lang.String"
## @vtlvariable name="testMethodName" type="java.lang.String"
#if(${driverPackageName})
package ${driverPackageName};

#end
import ${testClassQualifiedName};

public class ${driverClassName} {
    public static void main(String[] args) {
        new ${testClassName}().${testMethodName}();
    }
}
