## @vtlvariable name="symbolicMethod" type="java.lang.String"
## @vtlvariable name="classpath" type="java.lang.String"
## @vtlvariable name="maxExecutionTime" type="java.lang.Double"
## @vtlvariable name="maxPathConditionSize" type="java.lang.Long"
## @vtlvariable name="driverClassQualifiedName" type="java.lang.String"
## @vtlvariable name="testClassQualifiedName" type="java.lang.String"
## @vtlvariable name="testMethodQualifiedName" type="java.lang.String"
## @vtlvariable name="testedClassQualifiedName" type="java.lang.String"
## @vtlvariable name="testedMethodQualifiedName" type="java.lang.String"
## @vtlvariable name="instrumentedClassQualifiedName" type="java.lang.String"
## @vtlvariable name="instrumentedMethodQualifiedName" type="java.lang.String"
## @vtlvariable name="inputValuesPath" type="java.lang.String"
## @vtlvariable name="outputValuePath" type="java.lang.String"
## @vtlvariable name="inputSpecificationPath" type="java.lang.String"
## @vtlvariable name="outputSpecificationPath" type="java.lang.String"
## @vtlvariable name="reportPath" type="java.lang.String"
target=${driverClassQualifiedName}
#symbolic.class=...
symbolic.method=${symbolicMethod}
#symbolic.fields=...
classpath=${classpath}
symbolic.collect_constraints=true
#symbolic.min_int=-100
#symbolic.max_int=100
#symbolic.min_long=-100
#symbolic.max_long=100
#symbolic.min_double=-100.0
#symbolic.max_double=100.0
symbolic.debug = false
symbolic.optimizechoices = false
#symbolic.lazy=true
#symbolic.arrays=true
#symbolic.strings=true
symbolic.dp=z3
symbolic.string_dp_timeout_ms=3000
test_generalization.max_execution_time=${maxExecutionTime}
test_generalization.max_path_condition_size=${maxPathConditionSize}
test_generalization.test_class=${testClassQualifiedName}
test_generalization.test_method=${testMethodQualifiedName}
test_generalization.tested_class=${testedClassQualifiedName}
test_generalization.tested_method=${testedMethodQualifiedName}
test_generalization.instrumented_class=${instrumentedClassQualifiedName}
test_generalization.instrumented_method=${instrumentedMethodQualifiedName}
test_generalization.input_values_path=${inputValuesPath}
test_generalization.output_value_path=${outputValuePath}
test_generalization.input_specification_path=${inputSpecificationPath}
test_generalization.output_specification_path=${outputSpecificationPath}
search.depth_limit=100
search.multiple_errors=true
report.class=gov.nasa.jpf.report.Reporter
report.publisher=console
report.console.class=gov.nasa.jpf.report.ConsolePublisher
report.console.property_violation=error,trace,snapshot
report.console.file=${reportPath}
