## @vtlvariable name="testParametersSupplierClassName" type="java.lang.String"
## @vtlvariable name="testParametersClassName" type="java.lang.String"
## @vtlvariable name="methodParameters" type="java.util.List<teralizer.domain.MethodParameter>"
## @vtlvariable name="precondition" type="java.lang.String"
##
#macro(arbitrariesOfType $type)
    #if(${type} == 'byte' || ${type} == 'java.lang.Byte')
        net.jqwik.api.Arbitraries.bytes()##
    #elseif(${type} == 'short' || ${type} == 'java.lang.Short')
        net.jqwik.api.Arbitraries.shorts()##
    #elseif(${type} == 'int' || ${type} == 'java.lang.Integer')
        net.jqwik.api.Arbitraries.integers()##
    #elseif(${type} == 'long' || ${type} == 'java.lang.Long')
        net.jqwik.api.Arbitraries.longs()##
    #elseif(${type} == 'float' || ${type} == 'java.lang.Float')
        net.jqwik.api.Arbitraries.floats()##
    #elseif(${type} == 'double' || ${type} == 'java.lang.Double')
        net.jqwik.api.Arbitraries.doubles()##
    #elseif(${type} == 'char' || ${type} == 'java.lang.Char')
        net.jqwik.api.Arbitraries.chars()##
    #elseif(${type} == 'boolean' || ${type} == 'java.lang.Boolean')
        net.jqwik.api.Arbitraries.of(true, false)##
    #elseif(${type} == 'String' || ${type} == 'java.lang.String')
        net.jqwik.api.Arbitraries.strings()##
    #else
        net.jqwik.api.Arbitraries.just((${type}) null)##
    #end
#end
##
public static class ${testParametersClassName} {
    #foreach(${methodParameter} in ${methodParameters})
        public ${methodParameter.type} ${methodParameter.name};
    #end

    public ${testParametersClassName}(
        #set($lastIndex = ${methodParameters.size()} - 1)
        #foreach(${methodParameter} in ${methodParameters})
            ${methodParameter.type} ${methodParameter.name}#if(${foreach.index} < ${lastIndex}), #end
        #end
    ) {
        #foreach(${methodParameter} in ${methodParameters})
            this.${methodParameter.name} = ${methodParameter.name};
        #end
    }
}

public static class ${testParametersSupplierClassName} implements net.jqwik.api.ArbitrarySupplier<${testParametersClassName}> {
    @Override
    public net.jqwik.api.Arbitrary<${testParametersClassName}> get() {
        #if(${methodParameters.size()} <= 0)
            return net.jqwik.api.Arbitraries.just((${testParametersClassName}) null);
        #else
            #if(${methodParameters.size()} == 1)
                return #arbitrariesOfType(${methodParameters.get(0).type})
                .map(${testParametersClassName}::new)
            #else
                return net.jqwik.api.Combinators.combine(
                    #set($lastIndex = ${methodParameters.size()} - 1)
                    #foreach(${methodParameter} in ${methodParameters})
                        #arbitrariesOfType(${methodParameter.type})#if(${foreach.index} < ${lastIndex}),#end
                    #end
                ).as(${testParametersClassName}::new)
            #end
            .filter(testParameters ->#if(${precondition}) $precondition #else true #end);
        #end
    }
}
